body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.process-bar {
  height: 12px;
  background: #00d1b2;
  border-radius: 4px;
  margin: 0;
  font-size: 10px;
}

.process-legend {
  font-size: 14px;
  background: #eee;
}

.process-bar-container {
  background: #fff;
  cursor: pointer;
  padding: .6rem 2px !important;
}

.process-bar-container .level {
 height: 100%;
}

.process-heading {
  background: #ddd;
}

.process-bar-container:hover {
  background: #d6d6d6;
}

.process-container {
  border-bottom: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.process-container:last-of-type {
  border-bottom: #dddddd;
}